header {
  width: 100%;
  background-color: #6495ed;
  height: 42px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 14px;
  color: white;
  line-height: 12px;
}

header li {
  float: left;
  width: auto;
}

header li.log_in_logo {
  font-size: 20px;
}

header li.header_menu {

}

header p.before_log_in {
  text-align: center;
  display: inline-block;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 20px;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.flash{
  color: white;
  padding-top: 10px;
}

.frame {
  margin-top: 12px;
}

.row{
  .contributor {
    padding-left: 12px;
  }
  .contributor img{
    height: 40px;
    min-width: 40px;
    margin-right: 8px;
  }
}

.contributor {
  font-size: 14px;
  color: #365899;
  font-weight: bold;
  margin: 0;
}

.comments_area {
    list-style-type: none;
}
footer {
  width: 100%;
  background-color: white;
  padding: 20px 0 10px 0;
  color: gray;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: whitesmoke;
}

.center {
  appearance: none;
  text-align: center;
}
